
.Table{
  margin:30px 15% 30px 15%;
  border: solid silver 2px;
}

.Title{
  text-align:center;
  font-family: 'Anton', sans-serif;
  font-size:50px;
  background-color:green;
  color:white;
  margin:0;
  padding:20px;
}

.description{
  text-align:center;
  font-family: 'Anton', sans-serif;
  font-size:30px;
}

.buttons{
  font-family: 'Anton', sans-serif;
  background-color:transparent;
  border:solid transparent;
  font-style: italic;
}

.emphasized{
  font-style: italic;
}

.notEmphasized{
  font-style: normal;
}

.colorRow{
  background-color:silver;
  padding-top:5px;
}

.noColorRow{
  padding-top:5px;
}

.Number{
  font-family: 'Anton', sans-serif;
  font-size:20px;
}

.Names{
  text-align:left;
  font-family: 'Anton', sans-serif;
  font-size:20px;
}

.images{
  border:solid darkgreen;
  border-radius:10px;
  font-size:20px;
  margin-right:10px;
}

.points30{
  font-family: 'Anton', sans-serif;
  font-size:20px;
}

.pointsAllTime{
  font-family: 'Anton', sans-serif;
  font-size:20px;
}

.Copyright{
  text-align:center;
  font-family: 'Anton', sans-serif;
}